.sorting-filters{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.sorting-filter{
  padding: 10px 2px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #FFF;
  box-shadow: -1px -1px 4px rgba(255,255,255,0.4), 
              1px 1px 4px rgba(255,255,255,0.4);
  transition: all .2s ease;

  &__title{
    font-size: 14px;
  }

  &_active{
    background-color: #94B2FF;
    box-shadow: inset -1px -1px 4px rgb(255 255 255 / 25%), 
                inset 1px 1px 4px rgb(255 255 255 / 40%);
  }
}