.card{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  &__img{
    height: 250px;
    width: 250px;
  }

  &__title{
    font-size: 22px;
    margin: 5px 0;
  }

  &__description{
    margin-bottom: 10px;
  }

  &__info{
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }

  &__color{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: sub;
    border: 1px solid gray;
  }
}